# Android 构建产物
*.iml
.gradle/
build/
local.properties
.idea/
.DS_Store
app/build/
*.apk
*.keystore
*.bak

# 强制保留资源
!app/src/main/res/raw/*.wav
!app/src/main/assets/cards/images/*.png
!app/src/main/assets/cards/cards.json
